@import "input.css"; 

.myList {
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    list-style-type: none;
    width: 80%;
}

.divList > li {
  width: 80%;
  float: center;
  margin: auto;
}

.mainTitle {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
}
