@import "input.css"; 

.myList {
    padding-top: 20px;
    background-color: white;
    border-radius: 8px;
    list-style-type: none;
    width: 70%;
    margin-left: 150px;
    margin-top: 40px;
}

.divList > li {
  width: 80%;
  float: center;
  margin: auto;
  overflow: hidden;
}

.mainTitle {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
}

.detailSearch {
  float: right;
}

.smallInput {
  width:80%;
  margin-top: 20px;
  margin-left: 0;
}

.detailSearch > h4 {
  font-weight: bold;
}

.detailSearch > button {
  margin-top: 10px;
}


/* on cache la recherche détaillé si l'écran est trop petit,
cela est plus agréable */
@media screen and (max-width: 1000px) {
  .detailSearch  {
    display: none;
    width: 80%;
  }
}

@media screen and (max-width: 1400px) {
  .myList {
    width: 65%;
  }

  .detailSearch  {
    width: 20%;
  }
}