
.group { 
	position:relative; 
	margin-top: 30px;
	margin-bottom:25px; 
}
input {
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:30%;
	border:none;
	border-bottom:1px solid #757575;
	border-radius: 5px;
	margin: auto;
}

.bar { 
	position:relative; 
	display:block; 
	width:30%; 
	margin: auto;
}
.bar:before, .bar:after 	{
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background:#5264AE; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
	margin: auto;
}
.bar:before {
	left:50%;
}
.bar:after {
	right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
	width:50%;
}


